body {
    background-color: #B7C4CF;
    color: lightblue;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.container {
    display: flex;
    gap: 3rem;
}

.player1 {
    background-color: coral;
    height: 100px;
    width: 100px;
    border: 2px solid paleturquoise;
    color: black;
    border-radius: 25%;
    display: flex;
    align-items: center;
}

.player2 {
    background-color: purple;
    height: 100px;
    width: 100px;
    color: black;
    border: 2px groove paleturquoise;
    border-radius: 25%;
    display: flex;
    align-items: center;
}

.player1Color {
    background-color: white;
    font-weight: bolder;
    text-align: center;
    border-radius: 50%;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player2Color {
    background-color: white;
    font-weight: bolder;
    text-align: center;
    border-radius: 50%;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headings {
    color: beige;
    font-size: 5rem;
    font-style: oblique;
}

.item {
    display: flex;
    justify-content: center;
    text-align: center;
}

button {
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid paleturquoise;
    background-color: black;
    color: white;
    margin-top: 5rem;
    font-weight: bold;
    line-height: 1.4rem;
}

:active button {
    color: wheat;
}

